.login {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 3em 33% 0;

    .check-login {
        display: flex;
        margin-bottom: -1.4em;
    }

    h4 {
        position: relative;
        top: -26px;
        left: 5px;
    }
}

@media only screen and (max-width: 650px) {
    .login {
        margin: 3em 10% 0;

        .links {
            font-size: .8em;
        }
    }
}