@import url('https://fonts.googleapis.com/css?family=Nunito:400,800&display=swap');


.center {
    text-align: center;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}

/*****tags******/
body {
    @include reset();
    margin: 0;
    font-family: 'Nunito', 'sans-serif';
    font-size: 18px;
    // background: rgb(238, 238, 238);
}

a {
    color: $links;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/***transitions***/

.page {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
  }
  
  /* simple - enter transition 300ms, exit 150ms */
  .fade-appear,
  .fade-enter {
      opacity: 0;
      z-index: 1;
  }
  .fade-appear-active,
  .fade-enter.fade-enter-active {
      opacity: 1;
      transition: opacity 300ms linear 150ms;
  }
  
  .fade-exit {
      opacity: 1;
  }
  
  .fade-exit.fade-exit-active {
      opacity: 0;
      transition: opacity 150ms linear;
  }