$primary-color: rgb(47, 109, 241);
$primary-color-fade: rgba(47, 109, 241, .1);
$primary-color-fade2: rgba(47, 109, 241, .4);
$secondary-color: rgb(238, 238, 238);
$text: #000;
$links: #1B95E0;
$buttons: #1B95E0;